@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Ghaleb.API
@model ALO.DomainClasses.Entity.Blog.tbl_BlogComments
@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<form method="post" id="frmValues">
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="row">
                <input hidden asp-for="Id" />
                <div class="form-group col-6">
                 نام کاربر : 
                    <span>@Model.User.Profile.FirstName @Model.User.Profile.LastName</span>
                </div>
                <div class="form-group col-6">
                    <label asp-for="User.Email"></label> : 
                    <span>@Model.User.Email</span>
                </div>
                <div class="form-group col-6">
                    <label asp-for="User.Mobile"></label> : 
                    <span>@Model.User.Mobile</span>
                </div>
                <div class="form-group col-6">
                    <label asp-for="Body"></label> :
                    <p>@Model.Body</p>
                </div>
                <div class="form-group col-12">
                    <label>پاسخ</label>
                    <input class="form-control" type="text" name="Body" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3 form-group">
            <button class="btn btn-primary" id="btnSave" type="submit">ذخیره</button>
        </div>
    </div>
    <ul>
    @foreach (var item in Model.BlogComments)
    {
        <li>@item.Body</li>
    }
    </ul>
</form>

