@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@model IEnumerable<ALO.DomainClasses.Entity.Blog.tbl_BlogComments>
@{
    ViewData["Title"] = "لیست نظرات";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xl-12">
        <div class="card">

            <div class="table-responsive">
                <table class="table align-items-center table-flush">
                    <thead>
                        <tr>
                            <th>پست</th>
                            <th>نام و نام خانوادگی</th>
                            <th>موبایل</th>
                            <th>ایمیل</th>
                            <th>وضعیت</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Blog.Title</td>
                                <td>@item.User.Profile.FirstName @item.User.Profile.LastName</td>
                                <td>@item.User.Mobile</td>
                                <td>@item.User.Email</td>
                                <td>
                                    <div class="custom-control custom-switch" style="direction:ltr;padding:0">
                                        <input type="checkbox" class="custom-control-input" id="customSwitch@(item.Id)" onchange="ChangeStatus(@item.Id)" @(item.IsActive ? "checked" : "")>
                                        <label class="custom-control-label" for="customSwitch@(item.Id)"></label>
                                    </div>
                                </td>
                                <td>
                                    <a class="btn btn-info" asp-route-id="@item.Id" asp-action="Details">پاسخ</a> (@item.BlogComments.Count(x=>x.IsActive==true))
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script>
        function ChangeStatus(id) {
            $.ajax({
                url: "@Url.Action("ChangeStatus")?id=" + id,
                method: "GET",
            }).done(function (data) {
                Swal.fire(
                    'تبریک !',
                    data.message,
                    'success'
                )

            });
        }
    </script>
}