@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@model ALO.DomainClasses.Entity.Account.tbl_UserAddresses

    @{
        ViewData["Title"] = "جزییات خریدار";
    Layout = "~/Areas/Clerk/Views/Shared/_Layout.cshtml";
    }

    <div class="row">
        <div class="col-xl-12">
            <div class="card">

                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead>
                            <tr>
                                <th>نام گیرنده</th>
                                <th>آدرس</th>
                                <th>تلفن</th>
                                <th>موبایل</th>
                            </tr>
                        </thead>
                        <tbody>
                                <tr>
                                    <td>@Model.User.Profile.FirstName @Model.User.Profile.LastName</td>
                                    <td>@Model.Address پلاک @Model.Pelak واحد @Model.Vahed</td>
                                    <td>@Model.Phone</td>
                                    <td>@Model.Mobile</td>
                                </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>