

<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <partial name="_SeoPartial" model="@ViewData["Seo"]" />

    @ViewData["Robots"]
    @await Component.InvokeAsync("Tools" ,new {type="meta"})
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.amirprinter.ir/font-awesome/css/all.css" />
    <link rel="stylesheet" href="https://cdn.amirprinter.ir/font.css" />
    <link rel="stylesheet" href="~/lib/Swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    @RenderSection("Tags",false)
    @await Component.InvokeAsync("FavIcon")

</head>
<body>
    <header class="container-fluid pb-2 pb-xl-0">
        <div class="row align-items-center h-100 bg-white">
            <div class="col-12 col-xl-11 mx-auto">
                <div class="row mt-2 d-flex align-items-center">
                    <div class="col-lg-2 col-xl-1 col-12 d-flex justify-content-between align-items-center">
                        <a href="/">
                            <img class="img-fluid" src="~/images/logo.png"
                                 style="width:99px ;" alt="@Configuration["SiteSetting:SiteName"]">
                        </a>
                        <button class="btn btn-menu d-lg-none d-md-flex">
                            <i class="fas fa-bars icon" style="font-size:24px ;"></i>
                        </button>
                    </div>
                    <hr class="d-block d-lg-none mt-2 mb-2 col-11 mx-auto" style="background:#cdcdcd" />
                    <form method="get" asp-page="/Search" class="col-xl-4 col-7 mt-md-0 top-search-input me-2 me-xl-0 d-flex align-items-center position-relative rounded" style="height:47px;">
                        <i class="fa-regular fa-magnifying-glass" style="font-size: 16px;color: #9f9f9f;"></i>
                        <input class="form-control d-inline w-75"
                               placeholder="کالای مورد نظر را جستجو کنید..." name="q" id="search-input">

                        <ul id="search-items" class="position-absolute w-100" style="
                                right: 0;
                                max-height: 300px;
                                z-index: 99;
                                top: 36px;
                                overflow-y: scroll;
                                border-radius: 0px 0px 10px 10px;
                                background: #f3f3f3;">
                            <li></li>
                        </ul>
                    </form>
                    <div class="col-4 col-xl-7 col-lg-2 me-2 me-sm-0">
                        <div class="row justify-content-end">


                            @if (User.Identity.IsAuthenticated)
                            {
                                <div class="col-6 col-xl-3 col-lg-5 border-start">

                                    <a href="" [routerLink]="['dashboard']" style="border-radius: 25px;
                                                " *ngIf="isLogin">
                                        <i class="fa-regular fa-user" style="font-size:18px
                                                 ;margin-left:5px ;"></i>
                                        @User.Identity.Name
                                    </a>
                                </div>
                            }
                            else
                            {
                                <div class="col-6 col-xl-3 col-lg-5 border-start">
                                    <a href="/account/login" class=" rounded border p-2 text-center w-100 d-none d-xl-flex align-items-center justify-content-center" style="color:#080a38;font-weight:700">
                                        <i class="fa-regular fa-right-to-bracket ms-3" style="font-size:20px"></i>
                                        ورود | ثبت نام
                                    </a>
                                    <a href="/account/login" class="text-center w-100 d-flex d-xl-none justify-content-center" style="color:#080a38;font-weight:700">
                                        <i class="fa-regular fa-right-to-bracket ms-1" style="font-size:20px"></i>
                                        ورود
                                    </a>
                                </div>
                            }
                            <div class="col-6 col-xl-1 col-lg-4 d-flex align-items-center justify-content-center" style="color:#080a38;font-weight:700">
                                @await Component.InvokeAsync("TopBasket")
                            </div>
                        </div>

                    </div>
                    <div class="col-12 mx-auto">
                        <div class="row align-items-center">
                            @await Component.InvokeAsync("TopMenu",new{routeName="top-menu"})


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row border-bottom bg-white d-none d-xl-block">
        </div>
        <div class="row">

            <nav class="navbar navbar-expand-lg navbar-light p-0 bg-white">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse row" id="navbarSupportedContent">
                        <div class="col-12">


                            @await Component.InvokeAsync("TopCategory")
                        </div>
                        @*<app-top-catrgory class="col-12"></app-top-catrgory>*@

                    </div>
                </div>
            </nav>
        </div>
    </header>
    <div class="container-fluid">
        <main class="main row">

            @RenderBody()
        </main>
    </div>
    <footer class="container-fluid">
        <div class="row mt-5 bg-white" style="padding: 20px 0;border-top: 1px solid #ebebeb;">
            <div class="col-12 p-5">
                <img class="img-fluid mb-3" src="~/images/logo.png"
                     style="width:70px ;" alt="@Configuration["SiteSetting:SiteName"]">
                <br />
                <span class="mt-4">
                    تلفن پشتیبانی @Configuration["SiteSetting:Phone"].toPersianNumber()

                    |
                    ۷ روز هفته، ۲۴ ساعته پاسخگوی شما هستیم
                </span>
            </div>
        </div>
        <div class="row">

            <div class="col-12">
                @await Component.InvokeAsync("LinkManagement",new{routeName="shopOptions",viewName="_ShopOptions"})
            </div>
        </div>
        <div class="row mb-4 border-bottom p-5">
            <div class="col-12 col-xl-3" style="font-size: 15px;line-height: 3;">
                <h6 class="h6 fw-bold">
                    لینک های مرتبط
                </h6>
                <a style="display: block;">شرایط استفاده</a>
                <a style="display: block;">حریم خصوصی</a>
                <a style="display: block;">گزارش باگ</a>
                <a style="display: block;">شیوه های پرداخت</a>
            </div>
            <div class="col-12 col-xl-3" style="font-size: 15px;line-height: 3;">
                <h6 class="h6 fw-bold">
                    خدمات مشتریان
                </h6>
                <a style="display: block;">شرایط استفاده</a>
                <a style="display: block;">حریم خصوصی</a>
                <a style="display: block;">گزارش باگ</a>
                <a style="display: block;">شیوه های پرداخت</a>
            </div>
            <div class="col-12 col-xl-3" style="font-size: 15px;line-height: 3;">
                <h6 class="h6 fw-bold">
                    راهنمای خرید
                </h6>
                <a style="display: block;">شرایط استفاده</a>
                <a style="display: block;">حریم خصوصی</a>
                <a style="display: block;">گزارش باگ</a>
                <a style="display: block;">شیوه های پرداخت</a>
            </div>
            <div class="col-12 col-xl-3">
                <h6 class="text-center fw-bold">همراه ما باشید</h6>
                @await Component.InvokeAsync("SocialNetworks")
                <hr />
                <h6 class="text-center fw-bold">با ثبت ایمیل، از جدید‌ترین تخفیف‌ها با‌خبر شوید</h6>
                <form class="form-group row">
                    <input class="form-control" style="width:80%" placeholder="ایمیل شما" />
                    <button class="col-2 btn btn-danger">ثبت</button>
                </form>
            </div>
        </div>
        <div class="row mt-5">

            <div class="col-12 col-xl-6 ">

                @await Component.InvokeAsync("FooterAbout",new {routeName="footer-about"})
            </div>
            <div class="col-12 col-xl-6">
                <div class="col-12 d-flex justify-content-center">
                    @await Component.InvokeAsync("Tools" ,new {type="namad"})
                </div>
            </div>
        </div>
        <div class="row mt-5">

            <div class="col-12 middlefooter text-white"
                 style="background-color:#0046bf ;">
                <div class="row">
                    <div class="col-10 mx-auto">
                        @await Component.InvokeAsync("FooterMenu",new {routeName="footer-menu"})
                    </div>
                </div>
            </div>

            <div class="col-12 bottomfooter">
                <div class="row">
                    <div class="col-8 text-center mt-3 mx-auto">

                        <span style="line-height:4">
                            تمامی حقوق برای @Configuration["SiteSetting:SiteName"] |  محفوظ میباشد.
                            Copyright © @DateTime.Now.Year
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="mobile-menu" [ngClass]="{'show':isOpen}">

        <div class="row">
            <div class="col-12 mt-2 d-flex justify-content-center">
                <img class="img-fluid" alt="@Configuration["SiteSetting:SiteName"]" src="/images/logo.png"
                     style="width:115px ;">
            </div>
            <div>
            </div>
            <div class="col-8 mx-auto mt-5">
                <div class="row border-bottom">
                    <a class="top-menu-items" href="/index">
                        صفحه اصلی
                    </a>
                    <a class="top-menu-items" href="/repair">
                        درخواست تعمیرات
                    </a>
                    <a class="top-menu-items" href="/files">
                        فایل ها
                    </a>
                    <a class="top-menu-items" href="/faq">
                        سوالی دارید ؟
                    </a>
                    <a class="top-menu-items" href="/page/printer-repair">تعمیر پرینتر</a>
                    <a class="top-menu-items" href="/contactus">تماس با ما</a>
                    <a class="top-menu-items" href="/page/about-us">درباره ما</a>
                    <a class="top-menu-items" href="/page/rules">قوانین و مقررات</a>
                    <a class="top-menu-items" href="/page/help">راهنمای خرید</a>
                    <a class="top-menu-items" href="/faq">سوالات متداول</a>

                </div>
                <div class="row mt-4">
                    <h6>دسته بندی کالا</h6>
                    <ul class="sub-category bg-white col-10 mx-auto">
                        <li>
                            <a href="/Search/1/printer/1/printer-laserjet">پرینتر های لیزری</a>
                        </li>
                        <li>
                            <a href="/Search/1/printer/2/printer-color">پرینتر های جوهر افشان</a>
                        </li>
                        <li>
                            <a href="/Search/1/printer/4/multifunction-printer-laserjet">پرینتر چند کاره (لیزری)</a>
                        </li>
                        <li>
                            <a href="/Search/1/printer/6/multifunction-printer-color">پرینتر چند کاره (جوهر افشان)</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/popper.js/umd/popper.min.js" asp-append-version="true"></script>
    <script src="~/lib/Swiper/swiper-bundle.min.js" asp-append-version="true"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @await Component.InvokeAsync("Tools" ,new {type="script"})

    @await RenderSectionAsync("Scripts", required: false)
    <script>


        $("#search-input").keyup(function () {
            $("#search-items").children().remove();
            $.ajax({
                url: "@(Configuration.GetSection("SiteSetting:ApiUrl").Value)/api/product/Search?name=" + $(this).val(),
                method: "GET"
            }).done(function (res) {
                console.log(res);
                res.model.map(x => {
                    $("#search-items").append("<li style='padding:20px'><a href=/product/" + x.id + "/" + x.url + "><img style='width:75px;margin-left:5px' src=" + x.image + ">" + x.title + "</a></li>");
                });
            });
        });
        $(".btn-menu").click(function (event) {
            event.stopPropagation();
            if ($(".mobile-menu").hasClass("show")) {

                $(".mobile-menu").removeClass("show");
                document.body.classList.remove('overlay');

            }
            else {
                $(".mobile-menu").addClass("show");
                document.body.classList.add('overlay');
            }
        })
        document.body.addEventListener('click', (e) => {
            if (document.getElementsByClassName('btn-menu')[0].isSameNode(e.target) || document.getElementsByClassName('icon')[0].isSameNode(e.target) || document.getElementsByClassName('mobile-menu')[0].isSameNode(e.target)) {
                // Event triggered from within the #menutop div element
                // Do nothing and return
                return;
            }
            else {
                $(".mobile-menu").removeClass("show");
                document.body.classList.remove('overlay');
            }
        });
    </script>
    @await RenderSectionAsync("Modal", required: false)

    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js"></script>
    <script>
        var marker;
        var lat = 35.697862;
        var lng = 51.429254;
        mapboxgl.accessToken = 'pk.eyJ1IjoiYW1pcmhvc3NlaW5oYW5pZmVoIiwiYSI6ImNqcmY5YWhzdzFieno0M21sZWVtYXFsdmQifQ.Wki3rC9UTgR5Rce3W_CmVQ';
        var map = new mapboxgl.Map({
            container: 'map', // HTML container id
            style: 'mapbox://styles/amirhosseinhanifeh/clb96th6m004u14p596q8m9rz', // style URL
            center: [lng, lat], // starting position as [lng, lat]
            zoom: 16
        }).on('click', (ev) => {
            addmarker(ev.lngLat.lat, ev.lngLat.lng);
            //this.lat = ev.lngLat.lat;
            //this.lng = ev.lngLat.lng;

        });
        findAddress(lat, lng);
        mapboxgl.setRTLTextPlugin(
            'https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-rtl-text/v0.2.3/mapbox-gl-rtl-text.js',
            () => { }
        );
        marker = new mapboxgl.Marker()
            .setLngLat([lng, lat])
            .addTo(map);

        function addmarker(lat, lng) {
            marker.remove();
            // Add markers to the map.
            marker = new mapboxgl.Marker()
                .remove()
                .setLngLat({ lat: lat, lng: lng })
                .addTo(this.map);

            updateLngLat(lat, lng);
            //this.findAddress(lat, lng);
        }
        function updateLngLat(lat, lng) {
            $("input[name=Lat]").val(lat);
            $("input[name=Lng]").val(lng);
            findAddress(lat, lng);
        }
        function findAddress(lat, lng) {
            $.ajax({
                url: 'https://map.ir/reverse?lat=' + lat + '&lon=' + lng,
                headers: {
                    'x-api-key': 'eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6ImYzMzU4ZTFjMDhmZGFmZWVkNGZmMjAzOGFhYjVhNDIxYmRmYzczMTk4OWEwMThmN2Y0NjAzYzU5NTU4YmRiNjY5NzE5YzFkM2I4NGQ5ZGM5In0.eyJhdWQiOiIyMDIyMSIsImp0aSI6ImYzMzU4ZTFjMDhmZGFmZWVkNGZmMjAzOGFhYjVhNDIxYmRmYzczMTk4OWEwMThmN2Y0NjAzYzU5NTU4YmRiNjY5NzE5YzFkM2I4NGQ5ZGM5IiwiaWF0IjoxNjcwMTU1MzAwLCJuYmYiOjE2NzAxNTUzMDAsImV4cCI6MTY3MjY2MDkwMCwic3ViIjoiIiwic2NvcGVzIjpbImJhc2ljIl19.e7-29fB3nFA3jijsALnOAWlfLP7c5WcIdUsLi-XePN7IDsi4KGpluGURGFV9Q1ZnbOToCxuG0H9FZNZc4cjuBsMnDDBGQCJWqDmwGDP2iLGGNiVBEI4MLAhOVUZp7DGD4BvKPZ0-hzoYs5WUstorRlRQvwyOwBWkmUIdZtC8fMozdjioAHfuRwsL2o7Phw4nfmbHx_ZGxNKe8GE8dCHB_tO1RgamJ0tNzF6tTdNZ8x4NFOpnoYiUFRDm9FwgZpbhQzI7Ng0eqm_N6vWhxJvHd3T3F4lzAgd3TIeHkiz-re4EjQlcAYxOmVAo5rb8hIh31ROeoQSDnTUdqbQRt2nCKw'
                }
            }).done((res) => {
                $("input[name=address]").val(res.address_compact);
            })
        }
    </script>
</body>
</html>