@page
@model Ghaleb.Web.Pages.ContactUsModel
@{
    ViewData["Seo"] = Model.Seo;
}
<style>
    .contactus {
        font-size: 14px;
    }
</style>
@await Component.InvokeAsync("BreadCrumps",Model.Seo)
<div class="row bg-white p-5 table-responsive contactus">
    <h4 class="text-center mb-5">تماس با شرکت امیر پرینتر</h4>
    <div class="col-6 mt-2">
        <span>تلفن بخش فروش : @Model.ContactUs.Phone</span>
    </div>
    <div class="col-6 mt-2">
        <span>   تلفن بخش تعمیرات : @Model.ContactUs.Tel.toPersianNumber()</span>
    </div>
    <div class="col-6 mt-2">
        <span>  تلفن همراه : @Model.ContactUs.Mobile</span>
    </div>

    <div class="col-6 mt-2">
        <span>   ایمیل شرکت : @Model.ContactUs.Email</span>
    </div>
    <div class="col-12 mt-2">
        <span>   آدرس محل تعمیرات : @Model.ContactUs.Address</span>
    </div>
    <div class="col-12 col-xl-6 mt-5">
        <h5 class="text-center">پیام خود را برای ما ارسال کنید</h5>

        <form method="post" class="row mt-5" (submit)="SendData($event)">

            <div class="col-12 form-group mt-2">
                <input name="email" class="form-control" value=""
                       placeholder="ایمیل خود را وارد نمایید">
            </div>

            <div class="col-12 form-group mt-4">
                <input name="fullName" class="form-control" type="text"
                       value="" placeholder="نام و نام خانوادگی">
            </div>
            <div class="col-12 form-group mt-4">
                <input name="mobile" class="form-control" type="text"
                       value="" placeholder="موبایل">
            </div>
            <div class="col-12 form-group mt-4">
                <textarea name="body" class="form-control" rows="8" type="text"
                          value="" placeholder="متن پیام"></textarea>
            </div>
            <div class="col-12 form-group mt-4">
                <button type="submit" class="btn btn-danger col-12" style="padding:
                    11px;
                    border-radius: 25px;">
                    ارسال پیام
                </button>
            </div>
        </form>
    </div>
    <div class="col-12 col-xl-6 mt-5">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1619.952097901455!2d51.42489090823057!3d35.7039751196723!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf10404c8c2d7dd90!2zMzXCsDQyJzE0LjIiTiA1McKwMjUnMzMuMCJF!5e0!3m2!1sen!2suk!4v1670938795389!5m2!1sen!2suk" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>