@page "{id?}/{url?}"
@model Ghaleb.Web.Pages.ProductModel
@{
    ViewData["Seo"] = Model.Product;
}
@section Styles{
    <link rel='stylesheet' href='~/assets/css/swiper.min.css'>
    <link rel='stylesheet' href='~/assets/css/easyzoom.css'>
}
<div class="container">
    <div class="position-relative">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">خانه</a></li>
                <li class="breadcrumb-item active" aria-current="page">محصولات</li>
            </ol>
        </nav>
        <div class="title-page"><strong>محصولات</strong></div>
    </div>
    <div class="c_product">

        <div class="c_product_gallery" dir="ltr">
            <div class="product__carousel">
                <!-- Swiper and EasyZoom plugins start -->
                <div class="swiper-container gallery-top">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide easyzoom easyzoom--overlay">
                            <a href="@Model.Product.Image">
                                <img src="@Model.Product.Image" alt="" />
                            </a>
                        </div>
                        @foreach (var item in Model.Product.Images)
                        {
                            <div class="swiper-slide easyzoom easyzoom--overlay">
                                <a href="@item.Url">
                                    <img src="@item.Url" alt="" />
                                </a>
                            </div>

                        }
                    </div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next swiper-button-white"></div>
                    <div class="swiper-button-prev swiper-button-white"></div>
                </div>
                @if (Model.Product.Images.Any())
                {
                    <div class="swiper-container gallery-thumbs">
                        <div class="swiper-wrapper">
                            @foreach (var item in Model.Product.Images)
                            {
                                <div class="swiper-slide">
                                    <img src="@item.Url" alt="">
                                </div>

                            }
                        </div>
                    </div>
                }
                <!-- Swiper and EasyZoom plugins end -->
            </div>
        </div>
        <div class="product_gallery_mob">
            <div class="lazy3 slider" dir="ltr">
                @foreach (var item in Model.Product.Images)
                {
                    <div class="mob-item-slider">
                        <img src="@item.Url" class="img-fluid" alt="">
                    </div>
                }
            </div>
        </div>
        <div class="c_product-b">
            <div class="text-center">
                <h1 class="c-product_title">
                </h1>
                <div class="d-flex flex-wrap price-offer justify-content-center">

                    <!-- <div class="unavailable">unavailable</div> -->
                    <!-- <div class="current-price">£<span>100,000</span></div> -->
                </div>
                <div class="flex-grow-1 feature-box">
                    <h5 class="title-featur">ویژگی محصول</h5>
                    <ul class="mb-3">
                        @foreach (var item in Model.Product.Values)
                        {
                            <li>@item.Name @item.Value</li>

                        }

                    </ul>
                </div>

                @await Component.InvokeAsync("Price",new{prId=Model.Id})

                <div class=" d-flex align-items-center justify-content-center">
                    <div class="whislist-box mx-2">
                        <i class="fa fa-heart"></i>
                        <span class="text">علاقه مندی ها</span>
                    </div>
                    <a href="/Compare?pr1=@Model.Product.Id" class="compare-box mx-2">
                        <i class="fa fa-exchange"></i>
                        <span class="text">مقایسه</span>
                    </a>
                    <div class="compare-box mx-2" data-toggle="modal" data-target="#sharesModal">
                        <i class="fa fa-share"></i>
                        <span class="text">اشتراک</span>
                    </div>
                </div>
            </div>
            <div class=" d-flex justify-content-between flex-wrap product_specification_c">
                <div class="pr-1 pl-1">
                    <img src="~/assets/img/i1.svg" class="img-fluid" alt="">
                    <span>آیتم 1</span>
                </div>
                <div class="pr-1 pl-1">
                    <img src="~/assets/img/i2.svg" class="img-fluid" alt="">
                    <span>آیتم 2</span>
                </div>
                <div class="pr-1 pl-1">
                    <img src="~/assets/img/i3.svg" class="img-fluid" alt="">
                    <span>آیتم 3</span>
                </div>
                <div class="pr-1 pl-1">
                    <img src="~/assets/img/i4.svg" class="img-fluid" alt="">
                    <span>آیتم 4</span>
                </div>
                <div class="pr-1 pl-1">
                    <img src="~/assets/img/i5.svg" class="img-fluid" alt="">
                    <span>آیتم 5</span>
                </div>

            </div>
        </div>

    </div>

    @if (Model.RelatedProducts.Any())
    {
        <section class="related_slider">
            <div class="head-section">
                <h3>محصولات مرتبط</h3>
            </div>
            <div class="swiper slider_swiper">
                <div class="swiper-wrapper">
                    @foreach (var item in Model.RelatedProducts)
                    {

                        <div class="swiper-slide">
                            <div class="product-block">
                                <span class="onsale">-29%</span>
                                <a href="#" class="img-block">

                                    <img src="@item.Image" class="img-fluid bg-img1" width="100%">
                                    <img src="@item.Image" class="img-fluid bg-img2" width="100%">
                                </a>
                                <div class="product-button-hover">
                                    <a href="#" class="btn btn-shopping"><i class="fa fa-shopping-cart"></i> </a>
                                    <a href="#" class="btn btn-heart"><i class="fa fa-heart"></i> </a>
                                    <a href="#" class="btn btn-compass"><i class="fa fa-compass"></i> </a>
                                    <a href="#" class="btn btn-eye"><i class="fa fa-eye"></i> </a>
                                </div>
                                <div class="product-detail">
                                    <div class="star-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <a href="#">
                                        <h3>
                                            @item.Title
                                        </h3>
                                    </a>
                                    <div class="d-flex flex-wrap price-offer justify-content-center">
                                        @*                                        <div class="pre-price">ريال<span>130,000</span></div>
                                <div class="new-price">ريال<span>100,000</span></div>*@
                                        <div class="current-price"><span>@item.Cost</span> تومان</div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="next-slider">
                    <img src="assets/images/public/next-right-gray.svg" alt>
                </div>
                <div class="prev-slider">
                    <img src="assets/images/public/prev-left-gray.svg" alt>
                </div>
            </div>
        </section>
    }
    <section class="box_tabs_product">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="pill" href="#home">مرور</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#menu1">پرسش و پاسخ</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active dscp-content" id="home">
                @Html.Raw(Model.Product.Description)

            </div>
            <div class="tab-pane fade" id="menu1">
                <div id="tab-content-comment">
                    <div id="comment-list">
                        <ul>
                            @foreach (var item in Model.Product.Comments)
                            {

                                <li>
                                    <div class="comment_item">
                                        <div class="mb-2">
                                            <i class="fa fa-calendar"></i>
                                            <span class="mx-2">@item.Date</span>
                                            <i class="fa fa-user"></i>
                                            <span class="mx-2">@item.FullName</span>
                                        </div>
                                        <div class="">
                                            @item.Body
                                        </div>
                                    </div>
                                    @foreach (var item2 in item.Replies)
                                    {

                                        <div class="comment_item_reply">
                                            <div class="info-editor">
                                                <div class="mb-2">
                                                    <i class="fa fa-calendar"></i>
                                                    <span class="mx-2">1401/03/15</span>
                                                    <i class="fa fa-user"></i>
                                                    <span class="mx-2">@item2.FullName</span>
                                                </div>
                                            </div>
                                            <div class="d-flex">
                                                <div class="flex-grow-1">
                                                    <p>
                                                        @item2.FullName
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                    }
                                </li>

                            }
                        </ul>
                    </div>
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <h6 class="my-4 dark-color">
                            برای نظر دادن ، باید عضو شده باشید.
                        </h6>
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div data-toggle="collapse" data-target="#demo" class="collapse-text">
                            برای ارسال نظر ابتدا توضیحات بالا را بخوانید سپس روی
                            <span class="text-success"> « اینجا » </span>
                            کلیک کنید
                        </div>

                        <div id="demo" class="collapse">
                            <h3 class="title-normal dark-color my-3">
                                عقیده ات رو بیان کن
                            </h3>
                            <form role="form" method="post">
                                <input hidden name="ProductId" value="@Model.Product.Id">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <textarea class="form-control required-field" name="Body"
                                                      placeholder="دیدگاه شما" required=""></textarea>
                                        </div>
                                    </div><!-- Col end -->
                                    @*                               <div class="col-md-12">
                                <div class="form-group">
                                <input class="form-control" name="name" id="name" placeholder="نام" type="text"
                                required="">
                                </div>
                                </div><!-- Col end -->*@

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input class="form-control" name="Email" id="emailForm" placeholder="ایمیل"
                                                   type="email" required="">
                                        </div>
                                    </div>


                                </div><!-- Form row end -->
                                <div class="">
                                    <button class="comments-btn btn-default btn" type="submit">ارسال</button>
                                </div>
                                @*                            <div class="col-md-12">
                            <div class="form-group">
                            <span id="Result">@Model.MEs</span>
                            </div>
                            </div>*@
                            </form><!-- Form end -->
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
</div>

@*<partial name="~/Components/Product/ProductRow/Row.cshtml" model="Model.RelatedProducts" view-data='@new ViewDataDictionary(ViewData) { {"HeaderTitle", "محصولات مرتبط " }}' />
*@

@section Scripts{
    <script src='~/assets/js/easyzoom.js'></script>
    <script src='~/assets/js/index.js'></script><script src="~/assets/js/swiper-bundle.min.js"></script>
    <script type="application/ld+json">
        {
          "@@context": "https://schema.org/",
          "@@type": "Product",
          "name": "@Model.Product.Title",
          "author": "امیر حسین حنیفه",
          "image": "@Model.Product.Image",
          "description": "@Model.Product.Abstract",
          "aggregateRating": {
            "@@type": "AggregateRating",
            "ratingValue": "4.8",
            "reviewCount": "7462",
            "bestRating": "5",
            "worstRating": "1"
          }
        }

    </script>
        }
@section Modal{
    <div class="modal  fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">ثبت نظر</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @await Component.InvokeAsync("Comment",new {prId=Model.Product.Id})
                </div>
            </div>
        </div>
    </div>
        }