@page
@model Ghaleb.Web.Pages.SearchModel
@{
}
<div class="row d-flex justify-content-between">
    @if (Model.Brand != null)
    {
        ViewData["Seo"] = new
        {
            PageTitle = "پرینتر های با برند " + Model.Brand.Name,
            MetaDescription = Model.Brand.Description,
            MetaKeyword = Model.Brand.Name
        };
        <div class="col-12 bg-white  p-2 mb-3">
            <img src="@Model.Brand.Logo.BindImage()" style="width:250px">
            @Model.Brand.Name
            <br>
            @Model.Brand.Description
        </div>
    }
    <div class="col-12 col-sm-2">
        <form method="get" class="row">
            @if (Model.Brand != null)
            {
                <div class="col-12 bg-white  p-2" *ngIf="brand!=null">
                    <label class="border-bottom p-2 d-block">دسته بندی</label>
                    <ul>
                        <li style="display: flex;justify-content: space-between;"
                        *ngFor="let item of brand.categories">
                            {{item.name}}
                            <label>
                                <input type="checkbox" name="check" [value]="item.id" (change)="filterCategory($event)" /><span class="label-text"></span>
                            </label>
                        </li>
                    </ul>
                </div>
            }
            else
            {
                <div class="col-12 bg-white p-2" *ngIf="brand==null">
                    <label class="border-bottom p-2 d-block">برند</label>
                    <ul>
                        <li style="display: flex;justify-content: space-between;"
                        *ngFor="let item of brands">
                            {{item.name}}

                            <label>
                                <input type="checkbox" name="check" [value]="item.id" (change)="filterBrand($event)" /><span class="label-text"></span>
                            </label>
                        </li>
                    </ul>
                </div>
            }
            <div class="col-12 bg-white p-2"
                 *ngIf="fields?.length>0">
                <div *ngFor="let item of
                    fields">
                    <label class="border-bottom p-2 d-block">{{item.name}}</label>
                    <div style="display: flex;justify-content: space-between;"
                         *ngFor="let item2 of item.options">
                        {{item2.value}}
                        <label>
                            <input type="checkbox" name="check" [value]="item2.id" (change)="filterAttr($event)" /><span class="label-text"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-12 bg-white p-2">
                <div>
                    <div style="display: flex;justify-content: space-between;">
                        کالاهای موجود
                        <label>
                            <input type="checkbox" name="check" /><span class="label-text"></span>
                        </label>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-12 col-sm-10">
        <div class="row">
            <div class="col-12  bg-white ">

                @if (Model.Products.Any())
                {
                    <div class="row" *ngIf="products.length>0">
                        @foreach (var item in Model.Products)
                        {
                            <a class="col-6 col-sm-3 p-2 ml-1 d-flex justify-content-center align-items-center " style="flex-direction:column ;" *ngFor="let item of products" target="_blank"
                       href="/Product/@item.Id/@item.Url">
                                <img class="card-img-top mx-auto"
                             src="@item.Image"
                             alt="@item.Title" style="width:200px;min-height:150px ;">
                                <div class="card-body border-bottom">
                                    <span class="card-text" style="color:#9f9f9f ;">@item.Title</span>
                                </div>
                                @if (item.Discount != null)
                                {
                                    <div class="text-center mt-3">
                                        <s style="color: rgb(182, 182, 182);"> @item.Cost تومان </s>
                                        <br>
                                        @item.Discount تومان

                                    </div>
                                }
                                else
                                {

                                    <div class="text-center mt-3">
                                        @if (!item.Call)
                                        {
                                            <span *ngIf="!product?.call"> @item.Cost تومان </span>
                                        }
                                        else
                                        {
                                            <span *ngIf="product?.call"> تماس بگیرید</span>
                                        }
                                    </div>
                                }
                            </a>
                        }


                    </div>
                }
                else
                {
                    <div *ngIf="products.length==0">
                        محصولی یافت نشد
                    </div>
                }

            </div>

        </div>

    </div>
</div>
@section Scripts{
    <script>

    </script>
}