@model IEnumerable<ALO.DomainClasses.Entity.Product.tbl_ProductCustomFields>
@{
    int i = 0;
    long? prId =ViewBag.ProductID !=null? Convert.ToInt32(ViewBag.ProductID):null;
}
<div class="row">
    @foreach (var item in Model)
    {
        var val = item.ProductCustomFieldValues.Where(h=>h.ProductId == prId).FirstOrDefault();
        <input hidden name="Values[@i].FieldId" value="@item.Id" />
        <div class="form-group col-6">
            <label>@item.Name</label>
            @if (item.FieldType == ALO.DomainClasses.Entity.Product.FieldType.TEXT)
            {
                <input class="form-control" name="Values[@i].Value" value="@(val!=null?val.Value:null)" type="text">
            }
            else if (item.FieldType == ALO.DomainClasses.Entity.Product.FieldType.NUMBER)
            {
                <input class="form-control" name="Values[@i].Value" value="@(val!=null?val.Value:null)" type="number">
            }
            else if (item.FieldType == ALO.DomainClasses.Entity.Product.FieldType.DROPDOWN)
            {

                <select name="Values[@i].OptionId" class="form-control">
                    @if (val?.ProductCustomFieldsOptionValueId != null)
                    {
                        <option value="@val.ProductCustomFieldsOptionValueId">@val.ProductCustomFieldsOptionValue.Value</option>
                        @foreach (var item2 in item.ProductCustomFieldsOptionValues.Where(h => h.Id != val.ProductCustomFieldsOptionValueId))
                        {
                            <option value="@item2.Id">@item2.Value</option>
                        }
                    }
                    else
                    {
                        <option value=""> انتخاب نمایید</option>
                        @foreach (var item2 in item.ProductCustomFieldsOptionValues)
                        {
                            <option value="@item2.Id">@item2.Value</option>
                        }
                    }
                </select>
            }
        </div>
        i++;
    }
</div>