@model IEnumerable<ALO.ViewModels.Product.CategoryForSiteHeaderDto>
@{
}

@if(Model.Any())
{
<ul class="navbar-nav me-auto mb-2 mb-lg-0 col-12 border-bottom">
    @foreach (var item in Model.ToList()[0].Categories)
    {
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/search/@item.Id/@item.Url">@item.Title</a>
            <ul class="sub-category bg-white col-10 mx-auto">
                @foreach (var item2 in item.SubCategoryForSiteHeaders)
                {
                    <li>
                        <a asp-page="search" asp-route-categoryId="@item.Id" asp-route-categoryUrl="@item.Url" asp-route-subCategoryId="@item2.Id" asp-route-subcategoryUrl="@item2.Url">@item2.Title</a>
                    </li>
                }

            </ul>
        </li>
    }

</ul>

}