@page
@model Ghaleb.Web.Pages.Profile.AddressModel
@{
    Layout = "~/Pages/Profile/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-lg-4 col-md-6">
        <a class="add-address-box" data-toggle="modal" data-target="#CreateAddressModal">
            <i class="fa fa-plus"></i>
            <div class="">افزودن</div>
        </a>
    </div>
    @{
        int i = 1;
    }
    @foreach (var item in Model.UserAddresses)
    {
        <div class="col-lg-4 col-md-6">
            <div class="address-box">
                @if (item.IsDefault)
                {
                    <div class="address-box-lable">پیش فرض</div>
                }
                <div class="address-card_name">@i</div>
                <div class="address-card-box">
                    <ul>
                        <li>@item.Address پلاک @item.Pelak واحد @item.Vahed </li>
                        <li>
                            <h6>شماره تماس</h6>
                            <span>@item.Mobile</span>
                        </li>
                    </ul>
                    <div class="text-center">
                        <a data-toggle="modal" data-target="#EditAddressModal" class="btn"><i class="fa fa-edit"></i></a>
                        <a class="btn" asp-page-handler="Delete" asp-route-Id="@item.Id"><i class="fa fa-trash" ></i></a>
                    </div>
                </div>
            </div>
        </div>
        i = i + 1;
    }
</div>
<!--  -->
<div class="modal fade" id="CreateAddressModal" tabindex="-1" role="dialog"
     aria-labelledby="CreateAddressModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CreateAddressModalLabel">create address</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form  method="post" asp-page-handler="AddAddress">
                    <div class="row">
@*                        <div class="col-lg-6 col-md-6 form-group">
                            <label for="mob">State <span class="necessary"><span class="necessary">*</span></span></label>
                            <select name="" class="form-control" id="">
                                <option value="" selected>select</option>
                                <option value="">khgjh</option>
                                <option value="">kjhhk</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-6 col-md-6">
                            <label for="mob">city <span class="necessary"><span class="necessary">*</span></span> </label>
                            <select name="" class="form-control" id="">
                                <option value="" selected>select</option>
                                <option value="">khgjh</option>
                                <option value="">kjhhk</option>
                            </select>
                        </div>*@
                        <div class="col-lg-12 form-group">
                            <label for="mob">آدرس <span class="necessary">*</span></label>
                            <input type="text" class="form-control" placeholder="" name="Address">
                        </div>
                        <div class="col-lg-6 col-md-6 form-group">
                            <label for="mob">پلاک <span class="necessary">*</span></label>
                            <input type="number" class="form-control" placeholder="" name="Pelak">
                        </div>
                        <div class="col-lg-6 col-md-6 form-group">
                            <label for="mob">واحد<span class="necessary">*</span></label>
                            <input type="text" class="form-control" placeholder="" name="Vahed">
                        </div>
                        <div class="col-lg-6 col-md-6 form-group">
                            <label for="mob">کد پستی<span class="necessary">*</span></label>
                            <input type="text" class="form-control" placeholder="" name="PostalCode">
                        </div>
                        <div class="col-lg-6 col-md-6 form-group">
                            <label for="mob">نام گیرنده <span class="necessary">*</span></label>
                            <input type="text" class="form-control" placeholder="" name="ReciverName">
                        </div>
                        <div class="col-lg-6 col-md-6 form-group">
                            <label for="mob"> تلفن گیرنده <span class="necessary">*</span></label>
                            <input type="text" class="form-control" placeholder="" name="Mobile">
                        </div>
                        <div class="col-lg-12 text-center mt-3">
                            <button class="btn btn-default" type="submit">ثبت آدرس</button>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="EditAddressModal" tabindex="-1" role="dialog" aria-labelledby="EditAddressModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="EditAddressModalLabel">edite address</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 form-group">
                            <label for="mob">State <span class="necessary">*</span></label>
                            <select name="" class="form-control" id="">
                                <option value="" selected>select</option>
                                <option value="">khgjh</option>
                                <option value="">kjhhk</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-6 col-md-6">
                            <label for="mob">city <span class="necessary">*</span> </label>
                            <select name="" class="form-control" id="">
                                <option value="" selected>select</option>
                                <option value="">khgjh</option>
                                <option value="">kjhhk</option>
                            </select>
                        </div>
                        <div class="col-lg-12 form-group">
                            <label for="mob">address <span class="necessary">*</span></label>
                            <input type="text" class="form-control" placeholder="" id="mob">
                        </div>
                        <div class="col-lg-6 col-md-6 form-group">
                            <label for="mob">Plaque <span class="necessary">*</span></label>
                            <input type="text" class="form-control" placeholder="" id="mob">
                        </div>
                        <div class="col-lg-6 col-md-6 form-group">
                            <label for="mob"> unit <span class="necessary">*</span></label>
                            <input type="text" class="form-control" placeholder="" id="mob">
                        </div>
                        <div class="col-lg-6 col-md-6 form-group">
                            <label for="mob">Postal code <span class="necessary">*</span></label>
                            <input type="text" class="form-control" placeholder="" id="mob">
                        </div>
                        <div class="col-lg-6 col-md-6 form-group">
                            <label for="mob">Receiver name <span class="necessary">*</span></label>
                            <input type="text" class="form-control" placeholder="" id="mob">
                        </div>
                        <div class="col-lg-6 col-md-6 form-group">
                            <label for="mob">National Code <span class="necessary">*</span></label>
                            <input type="text" class="form-control" placeholder="" id="mob">
                        </div>
                        <div class="col-lg-6 col-md-6 form-group">
                            <label for="mob"> mobile <span class="necessary">*</span></label>
                            <input type="text" class="form-control" placeholder="" id="mob">
                        </div>
                        <div class="col-lg-12 text-center mt-3">
                            <button class="btn btn-default" type="submit">Address registration</button>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>
