@page
@model Ghaleb.Web.Pages.Profile.DashboardModel
@{
    Layout = "~/Pages/Profile/Shared/_Layout.cshtml";
}

<div class="profile_status">
    <div class="heade-status">
        <h5>اطلاعات کاربری</h5>
        <a href="#" class="mr-auto btn-edit-profile">ویرایش</a>
        <!-- <a href="#" class="ml-2">Change password</a> -->
    </div>
    <div class="profile_status_row">
        <ul>
            <li>نام و نام خانوادگی:</li>
            <li>
                @Model.UserInfo.Profile.FirstName @Model.UserInfo.Profile.LastName
            </li>
        </ul>
        <ul>
            <li>ایمیل :</li>
            <li>
                @Model.UserInfo.Email
            </li>
        </ul>
    </div>
    <div class="profile_status_row">
        <ul>
            <li>شماره تماس :</li>
            <li>
                @Model.UserInfo.Mobile
            </li>
        </ul>
        <ul>
            <li>کد ملی :</li>
            <li>
                @Model.UserInfo.Profile.NationalCode
            </li>
        </ul>
    </div>

</div>
<div class="table_orders table-responsive">
    <div class="heade-status">آخرین سفارشات</div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>شماره فاکتور</th>
                <th>قیمت کل </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Orders)
            {
            <tr>
                <td>1</td>
                <td> <a asp-page="OrderDetails" asp-route-Id="@item.Id">@item.OrderCode</a></td>
                <td>@item.TotalPrice().ToString("n0") تومان</td>
            </tr>
                
            }
        </tbody>
    </table>
</div>

<div class="address_status table-responsive">
    <div class="heade-status">
        <h5>آدرس ها</h5>
        <a asp-page="/Profile/Address" class="mr-auto btn-add-address2">ثبت آدرس جدید</a>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th> آدرس</th>
                <th>کد پستی</th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 1;
            }
            @foreach (var item in Model.UserAddresses)
            {
                <tr>
                    <td>@i</td>
                    <td>@item.Address @item.Pelak @item.Vahed</td>
                    <td>@item.PostalCode</td>
                </tr>
                i = i + 1;
            }
        </tbody>
    </table>
</div>
