@page
@model Ghaleb.Web.Pages.Profile.OrderDetailsModel
@{
    Layout = "~/Pages/Profile/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="orderDetail_status">
        <div class="order_detaile_title">
            <a href="#" class="router-link-active">
                <i class="fa fa-arrow-right"></i>
            </a>
            <h5>جزییات سفارش</h5>
            <div>
                <span dir="ltr">@Model.Order.CreatedDate.ConvertToPesainDate()</span>
            </div>
            <i class="fa fa-circle"></i>
            <div>کد سفارش : <span>@Model.Order.OrderCode</span></div>
        </div>
        <div class="order_list_item_details">
            <div>
                <span class="order_list_title"> گیرنده : </span><span class="txt-gray">@Model.Order.UserAddress.ReciverName</span>
                <i class="fa fa-circle"></i>
                <span class="order_list_title">شماره تماس :<span class="txt-gray">@Model.Order.UserAddress.Mobile</span></span>
            </div>
            <div>
                <span class="order_list_title">آدرس گیرنده :</span>
                <span class="txt-gray">@Model.Order.UserAddress.Address, پلاک @Model.Order.UserAddress.Pelak, واحد @Model.Order.UserAddress.Vahed</span>
                <i class="fa fa-circle"></i>
                <span class="order_list_title">کد پستی:</span>
                <span class="ml-2 txt-gray">@Model.Order.UserAddress.PostalCode</span>
            </div>
        </div>
        <div class="order_list_item_details_between">
            <span>
                <span class="order_list_title">قیمت کل :</span>
                <span class="ml-2 txt-gray">
                    @Model.Order.TotalPrice().ToString("n0")
                    تومان
                </span>

            </span>
            <i class="fa fa-circle"></i>
            <span>
                <span class="order_list_title">Discount :</span>
                <span class="ml-2 txt-gray">0 £</span>
            </span>
        </div>
        <div id="order_list_items">
            <ul class="order_list_item">
                <li>
                    <span class="order_list_title">نوع پرداخت: </span>
                    <span class="txt-gray ">@Model.Order.PaymentMethod.GetDisplay()</span>
                </li>
                <li>
                    <span class="order_list_title">وضعیت سفارش: </span>
                    <span class="txt-gray">@Model.Order.OrderStateHistories.OrderBy(h=>h.Id).LastOrDefault().OrderState.GetDisplay()</span>
                </li>
                <li>
                    <span class="order_list_title">هزینه ارسال:</span>
                    <span class="ml-2 txt-gray">@Model.Order.DeliveryPrice.GetCost(Model.Order.OrderDetails.Sum(h=>h.Count * h.ProductPriceHistory.GetPrice())).ToString("n0") تومان</span>
                </li>
            </ul>
            <ul class="order_list_item_products_box">
                @foreach (var item in Model.Order.OrderDetails)
                {
                    <li class="order_list_item_product">
                        <span class="order_list_item_product_img">
                            <img alt="" class="img-fluid" src="../assets/img/8-278x350.jpg" />
                        </span>
                        <div class="d-flex flex-column mt-2 mb-2 flex-grow-1">
                            <h6 class="order_list_item_product_title order_list_title txt-gray">
                       @item.ProductPriceHistory.Product.Title
                            </h6>
                            <ul>
                                <li class="order_list_title">تعداد : <span class="txt-gray">@item.Count</span></li>
                            </ul>
                            <div class="d-flex mt-auto flex-wrap">
                                <div>
                                    <span class="order_list_title">قیمت واحد :</span><span class="ml-2 txt-gray">
                                      @item.ProductPriceHistory.Price.ToString("n0") تومان
                                    </span>
                                </div>
                                <div class="mr-2">
                                    <span class="order_list_title">قیمت تخفیف :</span>
                                    <span class="ml-2 txt-gray">
                                       @((item.ProductPriceHistory.DiscountPrice??0).ToString("n0")) تومان
                                    </span>
                                </div>
                                <div class="mr-2">
                                    <span class="order_list_title">مبلغ نهایی :</span>
                                    <span class="ml-2 txt-gray">@((item.ProductPriceHistory.GetPrice() * item.Count).ToString("n0"))</span> تومان
                                </div>
                            </div>
                        </div>
                    </li>
                    
                }
            </ul>
        </div>
    </div>
</div>