@model ALO.ViewModels.Product.ProductListForHomeDto
@{
}
<style>
    .product{
        transition: all 0.5s;
    }
    .product:hover{

        transform: translate(0px, -9px);
    }

</style>
<div class="col-12">
    <div class="card shadow product mt-5 mb-5 m-1">
        <img src="@Model.Image" class="card-img-top" alt="@Model.Title" style="width:100%;height:200px">
        <div class="card-body">
            <div>
                <a href="@Url.Page("product",new{id=Model.Id,url=Model.Url})" style="font-size:14px" class="d-block card-title text-end">@Model.Title</a>
            </div>
            <hr class="mt-4" style="background-color:gray">
            <div style="min-height:50px">

                @if (Model.Discount != null)
                {
                    <div class="text-start mt-3" style="font-size:15px">
                        <s style="color: rgb(182, 182, 182);">تومان @Model.Cost  </s>
                        <br>
                        تومان  @Model.Discount

                    </div>
                }
                else
                {

                    <div class="text-start mt-3 " style="font-size:15px">
                        @if (!Model.Call)
                        {
                            <span *ngIf="!product?.call">تومان @Model.Cost  </span>
                        }
                        else
                        {
                            <span style="    color: #1a18a5;
    font-weight: 700;"> تماس بگیرید</span>
                        }
                    </div>
                }
                <div class="text-start mt-3"><span>تحویل اکسپرس</span><i style="font-size:15px;margin-right:3px" class="fal fa-shipping-fast"></i>  </div>
            </div>
        </div>
    </div>
</div>
@* <a target="_blank" >
    <img class="card-img-top mx-auto"
         src="@Model.Image"
         alt="Card image
        cap" style="width:150px;min-height:150px ;">
    <div class="card-body border-bottom">
        <span class="card-text" style="color:#9f9f9f ;">@Model.Title</span>
    </div>
    @if (Model.Discount != null)
    {
        <div class="text-center mt-3">
            <s style="color: rgb(182, 182, 182);"> @Model.Cost تومان </s>
            <br>
            @Model.Discount تومان

        </div>
    }
    else
    {

        <div class="text-center mt-3">
            @if (!Model.Call)
            {
                <span *ngIf="!product?.call"> @Model.Cost تومان </span>
            }
            else
            {
                <span *ngIf="product?.call"> تماس بگیرید</span>
            }
        </div>
    }

</a> *@