@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@inject AyandeNama.Web.Helpers.WebsiteBase _websitebase


<!doctype html>
<html lang="en" dir="rtl">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>

    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Description" content="Bootstrap Responsive Admin Web Dashboard HTML5 Template">
    <meta name="Author" content="Spruko Technologies Private Limited">
    <meta name="Keywords" content="dashboard, admin, bootstrap admin template, codeigniter, php, php framework, codeigniter 4, php mvc, php codeigniter, best php framework, codeigniter admin, codeigniter dashboard, admin panel template, bootstrap 4 admin template, bootstrap dashboard template" />

    <!-- Title -->
    <title>پنل مدیریت | @ViewData["Title"]</title>
    @await Html.PartialAsync("_Styles")
    <!-- Favicon -->

</head>

<body class="main-body app sidebar-mini">

    <!-- Start Switcher -->
    <!-- End Switcher -->
    <!-- Loader -->
    <div id="global-loader">
        <img src="https://codeigniter.spruko.com/valex/rtl/public/assets/img/loader.svg" class="loader-img" alt="Loader">
    </div>
    <!-- /Loader -->
    <!-- Page -->
    <div class="page">

        <!-- main-sidebar -->
        <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
        <aside class="app-sidebar sidebar-scroll">
            <div class="main-sidebar-header active">
                <a class="desktop-logo logo-light active" href="index.html"><img src="~/AdminTemplate/assets/img/brand/logo.png" class="main-logo" alt="logo"></a>
                <a class="desktop-logo logo-dark active" href="index.html"><img src="~/AdminTemplate/assets/img/brand/logo-white.png" class="main-logo dark-theme" alt="logo"></a>
                <a class="logo-icon mobile-logo icon-light active" href="index.html"><img src="~/AdminTemplate/assets/img/brand/favicon.png" class="logo-icon" alt="logo"></a>
                <a class="logo-icon mobile-logo icon-dark active" href="index.html"><img src="~/AdminTemplate/assets/img/brand/favicon-white.png" class="logo-icon dark-theme" alt="logo"></a>
            </div>
            <div class="main-sidemenu">

                @await Component.InvokeAsync("Menu")
            </div>
        </aside>
        <!-- main-sidebar -->
        <!-- main-content -->
        <div class="main-content app-content">

            <!-- main-header -->
            <div class="main-header sticky side-header nav nav-item layout-pin">
                <div class="container-fluid">
                    <div class="main-header-left ">
                        <div class="responsive-logo">
                            <a href="index.html"><img src="~/AdminTemplate/assets/img/brand/logo.png" class="logo-1" alt="logo"></a>
                            <a href="index.html"><img src="~/AdminTemplate/assets/img/brand/logo-white.png" class="dark-logo-1" alt="logo"></a>
                            <a href="index.html"><img src="~/AdminTemplate/assets/img/brand/favicon.png" class="logo-2" alt="logo"></a>
                            <a href="index.html"><img src="~/AdminTemplate/assets/img/brand/favicon.png" class="dark-logo-2" alt="logo"></a>
                        </div>
                        <div class="app-sidebar__toggle" data-toggle="sidebar">
                            <a class="open-toggle" href="#"><i class="header-icon fe fe-align-left"></i></a>
                            <a class="close-toggle" href="#"><i class="header-icons fe fe-x"></i></a>
                        </div>
                        <div class="main-header-center mr-3 m-0 d-sm-none d-md-none d-lg-block">
                            <input class="form-control" placeholder="جستجو" type="search"> <button class="btn"><i class="fas fa-search d-none d-md-block"></i></button>
                        </div>
                        <a class="animated-arrow hor-header-toggle horizontal-navtoggle"><span></span></a><!-- sidebar-toggle-->
                        <div class="horizontal-main header-layout">
                            <div class="horizontal-mainwrapper container clearfix">
                                <nav class="horizontalMenu clearfix">

                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="main-header-right">
                        <div class="nav nav-item  navbar-nav-right ml-auto">

                            <div class="dropdown main-profile-menu nav nav-item nav-link">
                                <a class="profile-user d-flex" href="#">@_websitebase.GetCurrectLanguageNameAsync</a>
                                <div class="dropdown-menu">
                                    <a asp-action="ChangeLanguage" asp-controller="Language" asp-route-lan="fa" class="dropdown-item">فارسی</a>
                                    <a asp-action="ChangeLanguage" asp-controller="Language" asp-route-lan="en" class="dropdown-item">انگلیسی</a>
                                    <a asp-action="ChangeLanguage" asp-controller="Language" asp-route-lan="de" class="dropdown-item">آلمانی</a>
                                    <a asp-action="ChangeLanguage" asp-controller="Language" asp-route-lan="tr" class="dropdown-item">ترکی</a>

                                </div>
                            </div>
                        </div>
                        <div class="nav nav-item  navbar-nav-right ml-auto">
                            <div class="nav-link" id="bs-example-navbar-collapse-1">
                                <form class="navbar-form" role="search">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search">
                                        <span class="input-group-btn">
                                            <button type="reset" class="btn btn-default">
                                                <i class="fas fa-times"></i>
                                            </button>
                                            <button type="submit" class="btn btn-default nav-link resp-btn">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="header-icon-svgs" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
                                            </button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                            <div class="dropdown nav-item main-header-message ">
                                <a class="new nav-link" href="#"><svg xmlns="http://www.w3.org/2000/svg" class="header-icon-svgs" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg><span class=" pulse-danger"></span></a>
                                <div class="dropdown-menu">
                                    <div class="menu-header-content bg-primary text-right">
                                        <div class="d-flex">
                                            <h6 class="dropdown-title mb-1 tx-15 text-white font-weight-semibold">پیامها</h6>
                                            <span class="badge badge-pill badge-warning mr-auto my-auto float-left">
                                                علامت گذاری به عنوان خوانده شده
                                            </span>
                                        </div>
                                        <p class="dropdown-title-text subtext mb-0 text-white op-6 pb-0 tx-12 ">شما 4 پیام خوانده نشده دارید</p>
                                    </div>
                                    <div class="main-message-list chat-scroll">
                                        <a href="chat.html" class="p-3 d-flex border-bottom">
                                            <div class="  drop-img  cover-image  " data-image-src="../assets/img/faces/3.jpg">
                                                <span class="avatar-status bg-teal"></span>
                                            </div>
                                            <div class="wd-90p">
                                                <div class="d-flex">
                                                    <h5 class="mb-1 name">امیر  تهرانی</h5>
                                                </div>
                                                <p class="mb-0 desc">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                                                <p class="time mb-0 text-left float-right mr-2 mt-2">Mar 15 3:55 PM</p>
                                            </div>
                                        </a>
                                        <a href="chat.html" class="p-3 d-flex border-bottom">
                                            <div class="drop-img cover-image" data-image-src="../assets/img/faces/2.jpg">
                                                <span class="avatar-status bg-teal"></span>
                                            </div>
                                            <div class="wd-90p">
                                                <div class="d-flex">
                                                    <h5 class="mb-1 name">امیر دهقانی</h5>
                                                </div>
                                                <p class="mb-0 desc">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                                                <p class="time mb-0 text-left float-right mr-2 mt-2">Mar 06 01:12 AM</p>
                                            </div>
                                        </a>
                                        <a href="chat.html" class="p-3 d-flex border-bottom">
                                            <div class="drop-img cover-image" data-image-src="../assets/img/faces/9.jpg">
                                                <span class="avatar-status bg-teal"></span>
                                            </div>
                                            <div class="wd-90p">
                                                <div class="d-flex">
                                                    <h5 class="mb-1 name">امیر میرزایی</h5>
                                                </div>
                                                <p class="mb-0 desc">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                                                <p class="time mb-0 text-left float-right mr-2 mt-2">Feb 25 10:35 AM</p>
                                            </div>
                                        </a>
                                        <a href="chat.html" class="p-3 d-flex border-bottom">
                                            <div class="drop-img cover-image" data-image-src="../assets/img/faces/12.jpg">
                                                <span class="avatar-status bg-teal"></span>
                                            </div>
                                            <div class="wd-90p">
                                                <div class="d-flex">
                                                    <h5 class="mb-1 name">امیر احمدی</h5>
                                                </div>
                                                <p class="mb-0 desc">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                                                <p class="time mb-0 text-left float-right mr-2 mt-2">Feb 12 05:12 PM</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="text-center dropdown-footer">
                                        <a href="text-center.html">مشاهده همه</a>
                                    </div>
                                </div>
                            </div>
                            <div class="dropdown nav-item main-header-notification">
                                <a class="new nav-link" href="#">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="header-icon-svgs" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bell"><path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path><path d="M13.73 21a2 2 0 0 1-3.46 0"></path></svg><span class=" pulse"></span>
                                </a>
                                <div class="dropdown-menu">
                                    <div class="menu-header-content bg-primary text-right">
                                        <div class="d-flex">
                                            <h6 class="dropdown-title mb-1 tx-15 text-white font-weight-semibold">اطلاعیه</h6>
                                            <span class="badge badge-pill badge-warning mr-auto my-auto float-left">
                                                علامت گذاری به عنوان خوانده شده
                                            </span>
                                        </div>
                                        <p class="dropdown-title-text subtext mb-0 text-white op-6 pb-0 tx-12 ">شما 4 اعلان خوانده نشده دارید</p>
                                    </div>
                                    <div class="main-notification-list Notification-scroll">
                                        <a class="d-flex p-3 border-bottom" href="#">
                                            <div class="notifyimg bg-pink">
                                                <i class="la la-file-alt text-white"></i>
                                            </div>
                                            <div class="mr-3">
                                                <h5 class="notification-label mb-1">پرونده های جدید موجود است</h5>
                                                <div class="notification-subtext">10 ساعت پیش</div>
                                            </div>
                                            <div class="mr-auto">
                                                <i class="las la-angle-left text-left text-muted"></i>
                                            </div>
                                        </a>
                                        <a class="d-flex p-3 border-bottom" href="#">
                                            <div class="notifyimg bg-purple">
                                                <i class="la la-gem text-white"></i>
                                            </div>
                                            <div class="mr-3">
                                                <h5 class="notification-label mb-1">به روزرسانی های موجود</h5>
                                                <div class="notification-subtext">
                                                    2 روز قبل
                                                </div>
                                            </div>
                                            <div class="mr-auto">
                                                <i class="las la-angle-left text-left text-muted"></i>
                                            </div>
                                        </a>
                                        <a class="d-flex p-3 border-bottom" href="#">
                                            <div class="notifyimg bg-success">
                                                <i class="la la-shopping-basket text-white"></i>
                                            </div>
                                            <div class="mr-3">
                                                <h5 class="notification-label mb-1">سفارش جدید دریافت شد</h5>
                                                <div class="notification-subtext">1 ساعت قیبل</div>
                                            </div>
                                            <div class="mr-auto">
                                                <i class="las la-angle-left text-left text-muted"></i>
                                            </div>
                                        </a>
                                        <a class="d-flex p-3 border-bottom" href="#">
                                            <div class="notifyimg bg-warning">
                                                <i class="la la-envelope-open text-white"></i>
                                            </div>
                                            <div class="mr-3">
                                                <h5 class="notification-label mb-1">بررسی جدید دریافت شد</h5>
                                                <div class="notification-subtext">1 روز قبل</div>
                                            </div>
                                            <div class="mr-auto">
                                                <i class="las la-angle-left text-left text-muted"></i>
                                            </div>
                                        </a>
                                        <a class="d-flex p-3 border-bottom" href="#">
                                            <div class="notifyimg bg-danger">
                                                <i class="la la-user-check text-white"></i>
                                            </div>
                                            <div class="mr-3">
                                                <h5 class="notification-label mb-1">22 ثبت نام تایید شده</h5>
                                                <div class="notification-subtext">2 ساعت قبل</div>
                                            </div>
                                            <div class="mr-auto">
                                                <i class="las la-angle-left text-left text-muted"></i>
                                            </div>
                                        </a>
                                        <a class="d-flex p-3 border-bottom" href="#">
                                            <div class="notifyimg bg-primary">
                                                <i class="la la-check-circle text-white"></i>
                                            </div>
                                            <div class="mr-3">
                                                <h5 class="notification-label mb-1">پروژه تصویب شده است</h5>
                                                <div class="notification-subtext">4 ساعت قبل</div>
                                            </div>
                                            <div class="mr-auto">
                                                <i class="las la-angle-left text-left text-muted"></i>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="dropdown-footer">
                                        <a href="#">مشاهده همه</a>
                                    </div>
                                </div>
                            </div>
                            <div class="nav-item full-screen fullscreen-button">
                                <a class="new nav-link full-screen-link" href="#"><svg xmlns="http://www.w3.org/2000/svg" class="header-icon-svgs" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-maximize"><path d="M8 3H5a2 2 0 0 0-2 2v3m18 0V5a2 2 0 0 0-2-2h-3m0 18h3a2 2 0 0 0 2-2v-3M3 16v3a2 2 0 0 0 2 2h3"></path></svg></a>
                            </div>
                            <div class="dropdown main-profile-menu nav nav-item nav-link">
                                <a class="profile-user d-flex" href="#"><img alt="" src="~/AdminTemplate/assets/img/faces/6.jpg"></a>
                                <div class="dropdown-menu">
                                    <div class="main-header-profile bg-primary p-3">
                                        <div class="d-flex wd-100p">
                                            <div class="main-img-user"><img alt="" src="~/AdminTemplate/assets/img/faces/6.jpg" class=""></div>
                                            <div class="mr-3 my-auto">
                                                <h6>@User.Identity.Name</h6><span>ادمین</span>
                                            </div>
                                        </div>
                                    </div>
                                    <a class="dropdown-item" href="profile.html"><i class="bx bx-user-circle"></i>پروفایل</a>
                                    <a class="dropdown-item" href="editprofile.html"><i class="bx bx-cog"></i> ویرایش پروفایل</a>
                                    <a class="dropdown-item" href="mail-compose.html">
                                        <i class="bx bxs-inbox"></i>صندوق ورودی
                                    </a>
                                    <a class="dropdown-item" href="mail.html"><i class="bx bx-envelope"></i>پیامها</a>
                                    <a class="dropdown-item" href="mail-settings.html"><i class="bx bx-slider-alt"></i> تنظیمات حساب</a>
                                    <a class="dropdown-item" href="signin.html"><i class="bx bx-log-out"></i> خروج</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /main-header -->
            <!-- container -->
            <div class="container-fluid">


                <!-- breadcrumb -->
                <div class="breadcrumb-header justify-content-between">
                    <div class="my-auto">
                        <div class="d-flex">
                            <h4 class="content-title mb-0 my-auto">مدیریت محتوا</h4><span class="text-muted mt-1 tx-13 mr-2 mb-0">/ @ViewData["Title"]</span>
                        </div>
                    </div>
                </div>
                <!-- breadcrumb -->
                <!-- row -->
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="card" id="basic-alert">
                            <div class="card-body">
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /row -->


            </div>
            <!-- Container closed -->

        </div>

        <!--/Sidebar-right-->
        <!-- Footer opened -->
        <div class="main-footer ht-40">
            <div class="container-fluid pd-t-0-f ht-100p">
                <span>طراحی شده توسط   <a href="#">آینده نما </a></span>
            </div>
        </div>
        <!-- Footer closed -->
    </div>
    <!-- End Page -->
    <!-- Back-to-top -->
    <a href="#top" id="back-to-top"><i class="las la-angle-double-up"></i></a>

    <!-- JQuery min js -->
    <partial name="_Scripts" />

    @RenderSection("scripts", false)
</body>

</html>

