@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@model IEnumerable<ALO.DomainClasses.Entity.Product.tbl_SubProductCategory>
@{
    ViewData["Title"] = "لیست زیر دسته بندی ها";
    Layout = "~/Areas/Clerk/Views/Shared/_Layout.cshtml";
}
<div class="row align-items-center">
    <div class="col text-right">
        <a type="button" asp-action="Create" class="btn btn-primary">افزودن</a>
    </div>
</div>
<div class="row">
    <div class="col-xl-12">
        <div class="">
            <div class="card-header border-0">

            </div>
            <div class="table-responsive">
                <table class="table align-items-center table-flush">
                    <thead>
                        <tr>
                            <th>نام زیر دسته</th>
                            <th>نام دسته</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Title</td>
                                <td>@item.ProductCategory.Title</td>
                                <td>
                                    <a class="btn btn-primary" asp-route-subcategoryId="@item.Id" asp-action="Index" asp-controller="Product">محصولات (@item.Products.Count(x=>x.IsDelete==false))</a>
                                    <a class="btn btn-success" asp-route-subcategoryid="@item.Id" asp-action="Index" asp-controller="ProductCustomField"> فیلدهای اختصاصی</a>|
                                    <a class="btn btn-warning" asp-route-id="@item.Id" asp-action="Edit">ویرایش</a>
                                    <a class="btn btn-danger" asp-route-id="@item.Id" asp-action="Delete">حذف</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>