@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@inject AyandeNama.Web.Helpers.WebsiteBase _websitebase


<!doctype html>
<html lang="en" dir="rtl">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>

    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Description" content="Bootstrap Responsive Admin Web Dashboard HTML5 Template">
    <meta name="Author" content="Spruko Technologies Private Limited">
    <meta name="Keywords" content="dashboard, admin, bootstrap admin template, codeigniter, php, php framework, codeigniter 4, php mvc, php codeigniter, best php framework, codeigniter admin, codeigniter dashboard, admin panel template, bootstrap 4 admin template, bootstrap dashboard template" />

    <!-- Title -->
    <title>پنل مدیریت | @ViewData["Title"]</title>
    @await Html.PartialAsync("_Styles")
    <!-- Favicon -->

</head>

<body class="main-body app sidebar-mini">

    <!-- /Loader -->
    <!-- Page -->
    <div class="page">

        <!-- main-sidebar -->
        <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
        <aside class="app-sidebar sidebar-scroll">
            <div class="main-sidebar-header active">
                <a class="desktop-logo logo-light text-white active" href="index.html"><h4>پنل مدیریت</h4></a>
                <a class="desktop-logo logo-dark active" href="index.html"><img src="~/AdminTemplate/assets/img/brand/logo-white.png" class="main-logo dark-theme" alt="logo"></a>
                <a class="logo-icon mobile-logo icon-light active" href="index.html"><img src="~/AdminTemplate/assets/img/brand/favicon.png" class="logo-icon" alt="logo"></a>
                <a class="logo-icon mobile-logo icon-dark active" href="index.html"><img src="~/AdminTemplate/assets/img/brand/favicon-white.png" class="logo-icon dark-theme" alt="logo"></a>
            </div>
            <div class="main-sidemenu">

                <ul class="side-menu">
                    <li class="slide">
                        <a class="side-menu__item" data-toggle="slide" href="/clerk">
                            <i class="fa fa-folder ml-3">

                            </i>
                            <span class="side-menu__label">&#x62F;&#x627;&#x634;&#x628;&#x648;&#x631;&#x62F;</span>
                        </a>
                    </li>
                    <li class="slide">
                        <a class="side-menu__item" data-toggle="slide" href="#">
                            <i class="fa fa-folder ml-3">

                            </i>
                            <span class="side-menu__label">&#x645;&#x62F;&#x6CC;&#x631;&#x6CC;&#x62A; &#x645;&#x62D;&#x635;&#x648;&#x644;&#x627;&#x62A;</span>
                            <i class="angle fa fa-chevron-down"></i>
                        </a>
                        <ul class="slide-menu">
                            <li><a class="slide-item" href="/Clerk/Product/Index">&#x644;&#x6CC;&#x633;&#x62A; &#x645;&#x62D;&#x635;&#x648;&#x644;&#x627;&#x62A;</a></li>
                            <li><a class="slide-item" href="/Clerk/ProductCategory/Index">&#x6AF;&#x631;&#x648;&#x647; &#x645;&#x62D;&#x635;&#x648;&#x644;&#x627;&#x62A;</a></li>
                            <li><a class="slide-item" href="/Clerk/ProductComment/Index">&#x645;&#x62F;&#x6CC;&#x631;&#x6CC;&#x62A; &#x646;&#x638;&#x631;&#x627;&#x62A;</a></li>
                            <li><a class="slide-item" href="/Clerk/ProductSubCategory/Index">&#x632;&#x6CC;&#x631; &#x62F;&#x633;&#x62A;&#x647; &#x645;&#x62D;&#x635;&#x648;&#x644;&#x627;&#x62A;</a></li>
                            <li><a class="slide-item" href="/Clerk/Brand/Index">&#x645;&#x62F;&#x6CC;&#x631;&#x6CC;&#x62A; &#x628;&#x631;&#x646;&#x62F; &#x647;&#x627;</a></li>
                        </ul>
            </div>
        </aside>
        <!-- main-sidebar -->
        <!-- main-content -->
        <div class="main-content app-content">

            <!-- main-header -->
            <div class="main-header sticky side-header nav nav-item layout-pin">
                <div class="container-fluid">
                    <div class="main-header-left ">
                        <div class="responsive-logo">
                            <a href="index.html"><img src="~/AdminTemplate/assets/img/brand/logo.png" class="logo-1" alt="logo"></a>
                            <a href="index.html"><img src="~/AdminTemplate/assets/img/brand/logo-white.png" class="dark-logo-1" alt="logo"></a>
                            <a href="index.html"><img src="~/AdminTemplate/assets/img/brand/favicon.png" class="logo-2" alt="logo"></a>
                            <a href="index.html"><img src="~/AdminTemplate/assets/img/brand/favicon.png" class="dark-logo-2" alt="logo"></a>
                        </div>
                        <div class="app-sidebar__toggle" data-toggle="sidebar">
                            <a class="open-toggle" href="#"><i class="header-icon fa fa-align-left"></i></a>
                            <a class="close-toggle" href="#"><i class="header-icons fa fa-x"></i></a>
                        </div>
                        <a class="animated-arrow hor-header-toggle horizontal-navtoggle"><span></span></a><!-- sidebar-toggle-->
                        <div class="horizontal-main header-layout">
                            <div class="horizontal-mainwrapper container clearfix">
                                <nav class="horizontalMenu clearfix">

                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="main-header-right">
                        <div class="nav nav-item  navbar-nav-right ml-auto">

@*                            <div class="dropdown main-profile-menu nav nav-item nav-link">
                                <a class="profile-user d-flex" href="#">@_websitebase.GetCurrectLanguageNameAsync</a>
                                <div class="dropdown-menu">
                                    <a asp-action="ChangeLanguage" asp-controller="Language" asp-route-lan="fa" class="dropdown-item">فارسی</a>
                                    <a asp-action="ChangeLanguage" asp-controller="Language" asp-route-lan="en" class="dropdown-item">انگلیسی</a>
                                    <a asp-action="ChangeLanguage" asp-controller="Language" asp-route-lan="de" class="dropdown-item">آلمانی</a>
                                    <a asp-action="ChangeLanguage" asp-controller="Language" asp-route-lan="tr" class="dropdown-item">ترکی</a>

                                </div>
                            </div>*@
                        </div>
                        <div class="nav nav-item  navbar-nav-right ml-auto">
                            <div class="nav-link" id="bs-example-navbar-collapse-1">
                                <form class="navbar-form" role="search">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search">
                                        <span class="input-group-btn">
                                            <button type="reset" class="btn btn-default">
                                                <i class="fas fa-times"></i>
                                            </button>
                                            <button type="submit" class="btn btn-default nav-link resp-btn">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="header-icon-svgs" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
                                            </button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                            <div class="nav-item full-screen fullscreen-button">
                                <a class="new nav-link full-screen-link" href="#"><svg xmlns="http://www.w3.org/2000/svg" class="header-icon-svgs" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-maximize"><path d="M8 3H5a2 2 0 0 0-2 2v3m18 0V5a2 2 0 0 0-2-2h-3m0 18h3a2 2 0 0 0 2-2v-3M3 16v3a2 2 0 0 0 2 2h3"></path></svg></a>
                            </div>
                            <div class="dropdown main-profile-menu nav nav-item nav-link">
                                <a class="profile-user d-flex" href="#"><img alt="" src="~/AdminTemplate/assets/img/faces/6.jpg"></a>
                                <div class="dropdown-menu">
                                    <div class="main-header-profile bg-primary p-3">
                                        <div class="d-flex wd-100p">
                                            <div class="main-img-user"><img alt="" src="~/AdminTemplate/assets/img/faces/6.jpg" class=""></div>
                                            <div class="mr-3 my-auto">
                                                <h6>@User.Identity.Name</h6><span>ادمین</span>
                                            </div>
                                        </div>
                                    </div>
@*                                  <a class="dropdown-item" href="profile.html"><i class="bx bx-user-circle"></i>پروفایل</a>
                                    <a class="dropdown-item" href="editprofile.html"><i class="bx bx-cog"></i> ویرایش پروفایل</a>
                                    <a class="dropdown-item" href="mail-compose.html">
                                        <i class="bx bxs-inbox"></i>صندوق ورودی
                                    </a>
                                    <a class="dropdown-item" href="mail.html"><i class="bx bx-envelope"></i>پیامها</a>
                                    <a class="dropdown-item" href="mail-settings.html"><i class="bx bx-slider-alt"></i> تنظیمات حساب</a>*@
                                    <a class="dropdown-item" href="@Url.Content("~/Clerk/Logout/Index")"><i class="bx bx-log-out"></i> خروج</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /main-header -->
            <!-- container -->
            <div class="container-fluid">


                <!-- breadcrumb -->
                <div class="breadcrumb-header justify-content-between">
                    <div class="my-auto">
                        <div class="d-flex">
                            <h4 class="content-title mb-0 my-auto">مدیریت محتوا</h4><span class="text-muted mt-1 tx-13 mr-2 mb-0">/ @ViewData["Title"]</span>
                        </div>
                    </div>
                </div>
                <!-- breadcrumb -->
                <!-- row -->
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="card" id="basic-alert">
                            <div class="card-body">
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /row -->


            </div>
            <!-- Container closed -->

        </div>

        <!-- Footer closed -->
    </div>
    <!-- End Page -->
    <!-- Back-to-top -->
    <a href="#top" id="back-to-top"><i class="las la-angle-double-up"></i></a>

    <!-- JQuery min js -->
    <partial name="_Scripts" />

    @RenderSection("scripts", false)
</body>

</html>

