@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@model IEnumerable<ALO.DomainClasses.Entity.Product.tbl_ProductCategory>
@{
    ViewData["Title"] = "لیست دسته بندی ها";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="row align-items-center">
    <div class="col text-right">
        <a type="button" asp-action="Create" class="btn btn-primary">افزودن</a>
    </div>
</div>
<div class="row">
    <div class="col-xl-12">
        <div class="">
            <div class="card-header border-0">
            </div>
            <div class="table-responsive">
                <table class="table align-items-center table-flush">
                    <thead>
                        <tr>
                            <th>نام دسته</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Title</td>
                                <td>
                                    <a class="btn btn-danger" asp-route-subcategoryid="@item.Id" asp-action="Index" asp-controller="ProductCustomField"> فیلدهای اختصاصی</a>|
                                    @if (item.SubProductCategories.Any(x => x.IsActive && !x.IsDelete))
                                    {
                                        <a class="btn btn-primary" asp-route-productcategoryId="@item.Id" asp-action="Index" asp-controller="ProductSubCategory">زیر دسته (@item.SubProductCategories.Count(x => !x.IsDelete && x.IsActive))</a>
                                    }
                                    <a class="btn btn-danger" asp-route-id="@item.Id" asp-action="Delete">حذف</a>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>